<div class="footer-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="footer-widget-about">
            <img src="assets/images/logo/logo-light.png" height="auto" width="96px" alt="logo" class="mb-30">
            <p class="color-gray" data-lang="footer_title">
              نحن هنا لتقديم رعاية صحية عالية الجودة بكل احترام ولطف، ونأمل أن نكون الخيار الأول والأمثل في تلبية احتياجاتكم الصحية وصحة عائلتكم.                  
            </p>
            <a href="contact-us.html" class="btn btn__primary btn__primary-style2 btn__link">
              <span data-lang="about_blog_btn">احجز موعدك الآن</span> <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.footer-widget__content -->
        </div><!-- /.col-xl-2 -->
        <div class="col-sm-12 col-md-12 col-lg-3 offset-lg-1">
          <div class="footer-widget-nav">
            <h6 class="footer-widget__title" data-lang="department_item">الأقسام</h6>
            <nav class="d-flex justify-content-between">

              <ul class="list-unstyled">
                <li><a href="services-plastic.html" data-lang="services_title_plastic">جراحة التجميل والترميم</a></li>
                <li><a href="services-hand_surgery.html" data-lang="services_title_hand_surgery"> جراحة اليد</a></li>
                <li><a href="services-orthopedic_surgery.html" data-lang="services_title_orthopedic_surgery"> جراحة العظام</a></li>
                <li><a href="services-dermatology.html" data-lang="services_title_dermatology">الأمراض الجلدية والليزر</a></li>
                <li><a href="services-general_surgery.html" data-lang="services_title_general_surgery">الجراحة العامة وجراحات السمنة</a></li>
                <li><a href="services-day_surgery.html" data-lang="services_title_surgery"><span>الجراحة في نفس اليوم</span><i class="icon-arrow-right"></i></a></li>
                <li><a href="services-gastroenterology.html" data-lang="services_title_gastroenterology">أمراض الجهاز الهضمي</a></li>
                <li><a href="services-internal_medicine.html" data-lang="services_title_internal_medicine"> الطب الباطني</a></li>

              </ul>
              <ul class="list-unstyled mx-3">
                
                <li><a href="services-obstetrics.html" data-lang="services_title_obstetrics"> طب النساء والتوليد</a></li>
                <li><a href="services-nutrition.html" data-lang="services_title_nutrition">التغذية </a></li>
                <li><a href="services-family_medicine.html" data-lang="services_title_family_medicine"> طب الأسرة</a></li>
                <li><a href="services-radiology.html" data-lang="services_title_radiology">الأشعة</a></li>
                <li><a href="services-anesthesia.html" data-lang="services_title_anesthesia">التخدير </a></li>
                <li><a href="services-physiotherapy.html" data-lang="services_title_physiotherapy">العلاج الطبيعي</a></li>
                <li><a href="services-laboratory.html" data-lang="services_title_laboratory">المختبر</a></li>
                <li><a href="services-pharmacy.html" data-lang="services_title_pharmacy">الصيدلية</a></li>
              </ul>

            </nav>
          </div><!-- /.footer-widget__content -->
        </div><!-- /.col-lg-2 -->
        <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="footer-widget-nav">
            <h6 class="footer-widget__title" data-lang="footer_Electronic">روابط إلكترونية</h6>
            <nav>
              <ul class="list-unstyled">
                <li><a href="about-us.html" data-lang="footer_Electronic_list1">من نحن</a></li>
                <li><a href="doctors-standard.html" data-lang="footer_Electronic_list2">العيادات</a></li>
                <li><a href="doctors-standard.html" data-lang="footer_Electronic_list3">الأطباء</a></li>
                <li><a href="blog.html" data-lang="footer_Electronic_list4">الأخبار والصور</a></li>
                <li><a href="contact-us.html" data-lang="footer_Electronic_list5">الحجز</a></li>

                <!--<li>
                  <select name="" id="language">
                    <option value="ar" data-lang="arabic" selected>arabic</option>
                    <option value="en" data-lang="english">english</option>
                  </select>
                </li>-->

                
              </ul>
              
                
              
            </nav>
          </div><!-- /.footer-widget__content -->
        </div><!-- /.col-lg-2 -->
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="footer-widget-contact">
            <h6 class="footer-widget__title color-heading" data-lang="footer_contact">اتصل بنا مباشرة</h6>
            <ul class="contact-list list-unstyled">
              <li data-lang="footer_contact_title">فريقنا جاهز للإجابة على أي استفسار أو مساعدة تحتاجها، تواصل معنا بكل سهولة<li>
                <a href="tel:+97444246666" class="phone__number">
                  <i class="icon-phone"></i> <span class="mx-3" data-lang="phone">97444246666+</span>
                </a>
              </li>
              <li class="color-body" data-lang="footer_contact_title2">6 دحل الحمام ، شارع الطائف ، الدوحة ، قطر</li>
            </ul>
            <div class="d-flex align-items-center">
              <ul class="social-icons list-unstyled mb-0">
                <li><a href="https://www.facebook.com/GardeniaMedicalCentre/"><i class="fab fa-facebook-f"></i></a></li>
                <li class="mx-3"><a href="https://www.instagram.com/gardeniamedical/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://wa.me/97466505015"><i class="fab fa-whatsapp"></i></a></li>
                <!-- <li><a href="https://www.tiktok.com/@gardeniamedical"><i class="fab fa-tiktok"></i></a></li> -->
              </ul><!-- /.social-icons -->
            </div>
          </div><!-- /.footer-widget__content -->
        </div><!-- /.col-lg-2 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.footer-primary -->


  <a href="https://wa.me/97466505015">
    <button id="whatsAppButton">
      <i class="fab fa-whatsapp"></i>
    </button>
  </a>

  <div class="footer-secondary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <span class="fz-14" data-lang="copyright" >&copy; 2020 DataSoft, All Rights Reserved. With Love by</span>
          
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-6 col-lg-6">
          <nav>
            <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end mb-0">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookies</a></li>
            </ul>
          </nav>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.footer-secondary -->