<div class="header-topbar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-between">
            <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
              <li>
                <button class="miniPopup-emergency-trigger" 
 data-lang="callus-text"  type="button">24/7    الطوارئ </button>
                <div id="miniPopup-emergency" class="miniPopup miniPopup-emergency text-center">
                  <div class="emergency__icon">
                    <i class="icon-call3"></i>
                  </div>
                  <a href="tel:+97466505015" class="phone__number">
                    <i class="icon-phone mx-3"></i> <span>97466505015+</span>
                  </a>
                  <a href="tel:+97444246666" class="phone__number">
                    <i class="icon-phone mx-3"></i> <span data-lang="phone">97444246666+</span>
                  </a>
                  <p data-lang="callus-sub-head">we are always take care about you</p>
                  <a href="contact-us.html" class="btn btn__secondary btn__link btn__block">
                    <span data-lang="Book_item"> احجز موعدك</span> <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.miniPopup-emergency -->
              </li>
              <!-- <li>
                <i class="icon-phone mx-3"></i><a href="tel:+97444246666" data-lang="phone">الطوارئ: 97444246666+</a>
              </li> -->
              <li>
                <i class="icon-location mx-3"></i><a href="#" data-lang="location-city-text"> Taiff - Duhah -Qatar </a>
              </li>
              <li>
                <i class="icon-clock mx-3"></i><a href="contact-us.html" data-lang="working-hours-text">Weekdays 9am -11pm / Friday 12pm-8pm</a>
              </li>
            </ul><!-- /.contact__list -->
            <div class="d-flex">
              <ul class="social-icons list-unstyled mb-0 mr-30">
                <li><a href="https://www.facebook.com/GardeniaMedicalCentre/"><i class="fab fa-facebook-f"></i></a></li>
                <li class="mx-3"><a href="https://www.instagram.com/gardeniamedical/"><i class="fab fa-instagram"></i></a></li>
                <!-- <li><a href="https://www.tiktok.com/@gardeniamedical"><i class="fab fa-tiktok"></i></a></li> -->
                <li><a href="https://wa.me/97466505015"><i class="fab fa-whatsapp"></i></a></li>

              </ul><!-- /.social-icons -->
              <form class="header-topbar__search">
                <input type="text" class="form-control" data-lang="search" placeholder="Search...">
                <button class="header-topbar__search-btn"><i class="fa fa-search"></i></button>
              </form>
              
            </div>
          </div>
        </div><!-- /.col-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.header-top -->
  <nav class="navbar navbar-expand-lg sticky-navbar" >
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" dir="rtl">
        <img src="assets/images/logo/logo-light.png" class="logo-light" alt="logo">
        <img src="assets/images/logo/logo-dark.png" height="80px" width="130px" class="logo-dark" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" dir="rtl">
        <span class="menu-lines"><span></span></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav  mx-2">
          <li class="nav__item has-dropdown">
            <a href="index.html" class="nav__item-link" data-lang="Home_item">الرئيسية</a> <!--active-->
          </li><!-- /.nav-item -->

          <li class="nav__item">
            <a href="about-us.html" class="nav__item-link" data-lang="about_item">من نحن</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="services.html" class="nav__item-link" data-lang="services_item">الخدمات </a>
          </li><!-- /.nav-item -->
          <li class="nav__item has-dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link active"
            data-lang="our_programs_item">Our Programs</a>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="prog_rejuvenation.html" class="nav__item-link"
                data-lang="program1_item">Program 1</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="prog_weight_loss.html" class="nav__item-link"
                data-lang="program2_item">Program 2</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="prog_rehabilitation.html" class="nav__item-link"
                data-lang="program3_item">Program 3</a>
              </li><!-- /.nav-item -->
           
            </ul><!-- /.dropdown-menu -->
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="doctors-standard.html" class="nav__item-link" data-lang="doctor_item">الأطباء </a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="blog.html" class="nav__item-link" data-lang="blog_item">مقالات </a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="our-rooms.html" class="nav__item-link" data-lang="rooms_item"> غرفنا</a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="contact-us.html" class="nav__item-link" data-lang="contact_item">اتصل بنا</a>
          </li><!-- /.nav-item -->
        </ul><!-- /.navbar-nav -->
        <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
      </div><!-- /.navbar-collapse -->

      <div class="language-switcher">
        <button
          id="langToggle"
          class="lang-btn"
          onclick="toggleLanguage()"
        >
          <i class="fas fa-globe"></i>
          <span class="lang-text">AR</span>
        </button>
      </div>


      <div class="d-none custom-d-xl-flex align-items-center position-relative mx-2">
        <div class="miniPopup-departments-trigger">
          <span class="menu-lines" id="miniPopup-departments-trigger-icon"><span></span></span>
          <a href="services.html" data-lang="department_item">الأقسام</a>
        </div>
        <ul id="miniPopup-departments" class="miniPopup miniPopup-departments dropdown-menu">
          <li class="nav__item">
            <a href="services-plastic.html" class="nav__item-link" data-lang="services_title_plastic">
              Plastic and Reconstructive Surgery
            </a>
          </li> 

          <li class="nav__item">
            <a href="services-hand_surgery.html" class="nav__item-link" data-lang="services_title_hand_surgery">
              Hand Surgery
            </a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="services-orthopedic_surgery.html" class="nav__item-link" data-lang="services_title_orthopedic_surgery">
              Orthopedic
            </a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="services-dermatology.html" class="nav__item-link" data-lang="services_title_dermatology">
              Dermatology & Laser
            </a>
          </li><!-- /.nav-item -->
          <li class="nav__item">
            <a href="services-general_surgery.html" class="nav__item-link" data-lang="services_title_general_surgery">
              General & Bariatric Surgery
            </a>
          </li><!-- /.nav-item -->
         
          <li class="nav__item">
            <a href="services-day_surgery.html" class="nav__item-link" data-lang="services_title_day_surgery">
              Same Day Surgery
            </a>
          </li><!-- /.nav-item -->
        </ul> <!-- /.miniPopup-departments -->
       
        <a href="contact-us.html" class="btn btn__primary btn__rounded mx-3">
          <i class="icon-calendar"></i>
          <span data-lang="Book_item">احجز موعدك</span>
        </a>
      </div>
    </div><!-- /.container -->
  </nav><!-- /.navabr -->